.header {
  grid-row: 1;
  grid-column: 2;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr ;
  max-height: 175px; /* Two rows with minimum size of 50px */

  font-family: 'Roboto',sans-serif;
}
.account-pfp {
  height: 35px; 
  /* grid-column: 2; */
}
.search-bar {
  width: 500px;
  height: 20px;
  background-color: #e2e8f0;
  border-radius: 25px;
  /* grid-column: 1; */
}
.user-account-name {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}
.top-header,.bottom-header {
  /* display: grid;
  grid-template-columns: 1.8fr 1fr; */
  padding-left: 10px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.notif-bell {
  font-size: 18px;
  color:#64748b;

}
.bigger-user-account-pfp{
  height:50px;
}
.user-dashboard{
  display: flex;
  gap:15px;
  align-items: center;
}
.greeting{
  font-size: 10px;
  font-weight: 700;
}
.username-and-handle{
  font-weight: 700;
  font-size: 1.25rem;
}
.create-action-btn{
  border-radius: 30%; 
  color: white;
  background-color: #0ea5e9;
height: 30px;
width:70px;
border-radius: 10rem 10rem;
border: none;
}
.create-actions{
    display: flex;
    align-items: center;
    gap:20px; 
}
