* {
    margin: 0;
    padding: 0;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
  }
  .material-symbols-outlined{
      font-size: 1rem;
  }
 